{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
        <p><a href="{{ path('alz_app_homepage') }}">{{ 'Entrar en tu cuenta'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
