{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="rows">
        <div class="hidden-xs hidden-sm col-md-3"></div>
        <div class="col-md-6">

            <div>
                <a href="{{ path('alz_web_homepage') }}">
                    <img class="center-block img-responsive" alt="SisFacturacion.com" src="{{ asset("images/logo.png") }}">
                </a>
            </div>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
        <div class="hidden-xs col-md-3"></div>
    </div>
</div>
{% endblock %}
