{% extends 'AlzAppBundle::layout.html.twig' %}

{% block ngapp %}appApp{% endblock %}
{% block ngcontroller %}ClienteController as cliente{% endblock %}

{% block title %}{{ "Clientes"|trans }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ "Cliente"|trans }}</h1>
</div>

{% endblock %}
